@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Persona" asp-action="Index" class="btn btn-primary">Ver Personas</a>
</div>
<div class="text-center">
    <a asp-controller="Departamento" asp-action="Index" class="btn btn-primary">Ver Departamentos</a>
</div>
